:host {
  display: block;
  padding: 2rem;
}

.licenses-status {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;

  &.valid {
    background-color: var(--bs-success);
  }
  &.danger {
    background-color: var(--bs-danger);
  }
}