:host {
  display: block;
  padding: 0 2rem 2rem;
}

.licenses-status {
  width: 1rem;
  height: 1rem;
  margin: auto;

  &.valid {
    background-color: #70e582;
  }
  &.danger {
    background-color: #e56053;
  }
}
