<div class="header-panel">
  <img [src]="Emoji.BustsInSilhouette | emoji" height="48" width="48" />
  <div>
    <h1>{{ company.name }}</h1>
    <p>Users list</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-4">
    <alto-search style="width: 400px" [searchControl]="searchTerm"></alto-search>
  </div>
  <div class="col text-end">
    <button class="btn btn-primary" (click)="openUserForm()"><i class="bi bi-plus-lg"></i>Create user</button>
  </div>
</div>

<alto-placeholder-manager [status]="usersDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-20">Name</th>
          <th scope="col">Email address</th>
          <th scope="col">Roles</th>
          <th scope="col" class="text-center">Trainx license</th>
          <th scope="col" class="text-center">Recordx license</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers" style="height: 53px" class="cursor-pointer">
          <td>
            <p class="fw-bold">{{user.fullname}}</p>
          </td>
          <td>
            <p class="">{{user.email}}</p>
          </td>
          <td>
            <alto-colored-pill-list *ngFor="let role of user.roles"
            [data]="[{name: role, id: role}]"
            [hasDynamicColor]="true"
          ></alto-colored-pill-list>
          </td>
          <td>
            <div class="licenses-status rounded-circle"
            [class]="
                user.trainxSettings.hasLicense
                  ? 'valid'
                  : 'danger'
              "></div>
          </td>
          <td>
            <div class="licenses-status rounded-circle"
            [class]="
                user.recordxSettings.hasLicense
                  ? 'valid'
                  : 'danger'
              "></div>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination class="mx-4 d-block"
    [pageControl]="pageControl"
    [pageCount]="pageCount"
    [itemsCount]="usersCount"></alto-pagination>
  </div>
  <div class="nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="Emoji.Eyes | emoji" height="24" width="24" />
      <h2 class="mt-3">This company contains no users</h2>
    </div>
  </div>
  <div class="nodata-placeholder d-flex justify-content-center align-items-center" noResult>
    <div class="text-center">
      <img [src]="Emoji.MagnifyingGlassTiltedRight | emoji" height="24" width="24" />
      <h2 class="mt-3">Your filters doesn't match any user</h2>
      <button class="mt-4 btn btn-primary" (click)="resetSearch()">Clean filters</button>
    </div>
  </div>
</alto-placeholder-manager>