<alto-header
  *ngIf="user && company"
  [title]="'User information'"
  subtitle="View all the user information"
  [divider]="true"
  [breadcrumbs]="[
    {
      label: 'Companies',
      url: '/home'
    },
    {
      label: company.name,
      url: ['/',  'companies', company.id, 'users']
    },
    {
      label: user.firstname + ' ' + user.lastname,
      url: ['/',  'companies', company.id, 'users']
    }
  ]"
></alto-header>
<div class="d-flex justify-content-end align-items-center alto-grey fs-5 pb-4">
  <div *ngIf="user && user.deletedAt">
    <alto-colored-pill-list 
      [data]="[{name: 'Deleted', id: 'FF1238asdfr4'}]"
      [hasDynamicColor]="true"
      [limit]="0"
    ></alto-colored-pill-list>
    <div class="badge text-black"> {{ user.deletedAt | date : 'shortDate' }}</div>
  </div>
</div>
<hr />
<form *ngIf="userForm" [formGroup]="userForm">
  <!-- Name -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <label for="name" class="col-5 mb-2 required">Name</label>
      <div class="col-7 form-group">
        <div class="d-flex gap-2">
          <input type="text" class="form-control customDisable" placeholder="Firstname" formControlName="firstname" readonly/>
          <input type="text" class="form-control customDisable" placeholder="Lastname" formControlName="lastname" readonly/>
        </div>
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Email</label>
      </div>
      <div class="col-7 form-group">
        <input
          type="text"
          class="form-control customDisable"
          placeholder="john.doe@email.com"
          formControlName="email"
          readonly
        />
      </div>
    </div>
  </div>
  <!-- Password -->
  <div class="py-4 border-bottom" *ngIf="user && !user.deletedAt">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Password</label>
      </div>
      <div class="col-7 form-group">
        <button
          *ngIf="!btnClicked; else sent"
          type="button"
          class="btn btn-primary d-inline-flex align-items-center text-nowrap"
          (click)="sendResetPassword()"
        >
          <i class="bi bi-send"></i> Send email "reset password"
        </button>
        <ng-template #sent>
          <i class="bi bi-check text-success"></i><span class="text-success">Email sent</span>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Roles -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Roles</label>
      </div>
      <div class="col-7 form-group">
        <alto-colored-pill-list *ngFor="let role of user.roles"
          [data]="[{name: role, id: role}]"
          [hasDynamicColor]="true"
        ></alto-colored-pill-list>
      </div>
    </div>
  </div>
  

  <!-- Auth0 Connected -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Auth0</label>
      </div>
      <div class="col-7 form-group">
        <alto-colored-pill-list *ngIf="userAuth0; else connectedElse"
          [data]="[{name: 'Connected', id: '9DAA38asdfr4'}]"
          [hasDynamicColor]="true"
        ></alto-colored-pill-list>
        <ng-template #connectedElse>
          <span><i class="bi bi-x-circle-fill fs-4 fw-bolder alto-red"></i></span>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Auth0 last connexion -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Last connection</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <span *ngIf="userAuth0.last_login; else never">
            {{
              userAuth0.last_login | date : 'fullDate'
            }}</span>
          </span>
          <ng-template #never><span>Never</span></ng-template>
        </div>
    </div>
  </div>


  <!-- Auth0 Verified email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Email verficiation</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <alto-colored-pill-list *ngIf="userAuth0.email_verified; else emailVerifiedElse"
          [data]="[{name: 'Email verified', id: '9DAA38asdfr4'}]"
          [hasDynamicColor]="true"
          ></alto-colored-pill-list>
        </span>
          <ng-template #emailVerifiedElse><span><i class="bi bi-x-circle-fill fs-4 fw-bolder alto-red"></i></span></ng-template>
        </div>
    </div>
  </div>


  <!-- Auth0 Login count -->
  <div class="py-4">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Logins count</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <span class="alto-badge fw-bolder">{{ userAuth0.logins_count || 0 }}</span>
          </span>
        </div>
    </div>
  </div>

  <alto-user-trainx *ngIf="hasTrainX" [userEmail]="user.email"></alto-user-trainx>

</form>
