<div class="mx-6 my-4">
  <alto-icon-badge icon="bi-building-gear" [size]="4" class="me-4"></alto-icon-badge>
  <h1 class="title d-inline-block">Edit a company</h1>
</div>
<div class="px-6 sidebar-body">
  <form *ngIf="companyForm" [formGroup]="companyForm">
    <label class="form-label required">Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Company name" />
  </form>
</div>
<div class="footer">
    <button type="submit" class="btn btn-primary float-end" [disabled]="!companyForm.valid">
      <i class="bi bi-plus-lg"></i><span>Save</span>
    </button>
</div>
